@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
html    {
    height: 100%;
}
body    {
    display: flex;
    background: linear-gradient(0.25turn, #dc7c64, #f5d8d1);
    margin: 0;
    padding: 1%;
    height: 96%;
}
main    {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: white;
}
.start  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 45%;
    align-items: center;
}
.logoAccueil    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
h1  {
    font-family: 'Alkatra', cursive;
    font-size: 6em;
}
.imgAccueil {
    width: 55%;
    height: auto;
}
.boutonAccueil:hover    {
    cursor: pointer;
}
.boutonAccueil  {
    background: linear-gradient(0.25turn, #dc7c64, #f5d8d1);
    font-size: 3em;
    border-radius: 33px;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: white;
}
.boutonDiv  {
    display: flex;
    justify-content: center;
    width: 100%;
}
.titreAccueil   {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
}

@media (max-width: 1500px)	{
    h1 {
        font-size: 5em;
    }
    .boutonAccueil  {
        font-size: 2.5em;
    }
}

@media (max-width: 1200px)	{
    h1 {
        font-size: 4em;
    }
    .boutonAccueil  {
        font-size: 2em;
    }
}

@media (max-width: 800px)	{
    main {
        flex-direction: column;
    }
    .logoAccueil    {
        width: 100%;
        margin-bottom: 2em;
        padding-top: 2em;
    }
    .start  {
        width: 100%;
    }
}

@media (max-width: 500px)	{
    h1 {
        font-size: 3em;
    }
    .boutonAccueil  {
        font-size: 1.5em;
    }
}