@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
html    {
    height: 100%;
}
body    {
    display: flex;
    background: linear-gradient(0.25turn, #dc7c64, #f5d8d1);
    margin: 0;
    padding: 1%;
    height: 96%;
}
main    {
    display: flex;
    width: 100%;
    justify-content: center;
    background: white;
}
.formulaireContact  {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}
form    {
    width: 100%;
}
input   {
    width: 100%;
    margin-bottom: 2em;
}
textarea    {
    width: 100%;
    margin-bottom: 2em;
}
.imageContact   {
    width: 55%;
    display: flex;
    align-items: center;
}
.imgContact   {
    width: 100%;
    max-height: 100%;
}
.boutonEnvoyer  {
    width: auto;
    background: linear-gradient(0.25turn, #dc7c64, #f5d8d1);
    border-radius: 33px;
    border: none;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: white;
    font-family: 'Alkatra', cursive;
}
.boutonEnvoyer:hover    {
    cursor: pointer;
}
label   {
    color: #dc7c64;
    font-family: 'Alkatra', cursive;
}
h1  {
    color: #dc7c64;
    font-family: 'Alkatra', cursive;
}
.titreContact   {
    padding-bottom: 5em;
}
@media (max-width: 800px)	{
    main {
        flex-direction: column;
    }
    .imageContact   {
        width: 100%;
    }
    .formulaireContact  {
        width: 100%;
        padding: 0;
    }
    html {
        height: auto;
    }
    form {
        width: auto;
    }
}